<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.herba.model.mapper.ContentsMapper">
    <resultMap id="BaseResultMap" type="org.herba.model.entity.Contents">
        <id column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="slug" property="slug" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="INTEGER"/>
        <result column="modified" property="modified" jdbcType="INTEGER"/>
        <result column="order" property="order" jdbcType="INTEGER"/>
        <result column="authorId" property="authorId" jdbcType="INTEGER"/>
        <result column="template" property="template" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="commentsNum" property="commentsNum" jdbcType="INTEGER"/>
        <result column="allowComment" property="allowComment" jdbcType="CHAR"/>
        <result column="allowPing" property="allowPing" jdbcType="CHAR"/>
        <result column="allowFeed" property="allowFeed" jdbcType="CHAR"/>
        <result column="parent" property="parent" jdbcType="INTEGER"/>
        <result column="viewsNum" property="viewsNum" jdbcType="INTEGER"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="org.herba.model.entity.Contents" extends="BaseResultMap">
        <result column="text" property="text" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <resultMap id="ResultContentsInfo" type="org.herba.model.dto.ContentsInfo">
        <id column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="slug" property="slug" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="INTEGER"/>
        <result column="modified" property="modified" jdbcType="INTEGER"/>
        <result column="order" property="order" jdbcType="INTEGER"/>
        <result column="authorId" property="authorId" jdbcType="INTEGER"/>
        <result column="template" property="template" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="commentsNum" property="commentsNum" jdbcType="INTEGER"/>
        <result column="allowComment" property="allowComment" jdbcType="CHAR"/>
        <result column="allowPing" property="allowPing" jdbcType="CHAR"/>
        <result column="allowFeed" property="allowFeed" jdbcType="CHAR"/>
        <result column="parent" property="parent" jdbcType="INTEGER"/>
        <result column="viewsNum" property="viewsNum" jdbcType="INTEGER"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
        <result column="text" property="text" jdbcType="LONGVARCHAR"/>
        <association property="users" javaType="org.herba.model.entity.Users">
            <result column="uid" property="uid" jdbcType="INTEGER"/>
            <result column="uname" property="name" jdbcType="VARCHAR"/>
        </association>
        <collection property="metas" ofType="org.herba.model.entity.Metas">
            <result column="mid" property="mid" jdbcType="INTEGER"/>
            <result column="mname" property="name" jdbcType="VARCHAR"/>
            <result column="mtype" property="type" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    cid, title, slug, created, modified, `order`, authorId, template, type, status, password,
    commentsNum, allowComment, allowPing, allowFeed, parent, viewsNum, views
  </sql>
    <sql id="Blob_Column_List">
    text
  </sql>
    <!--查询文章信息-->
    <select id="selectPost" resultMap="ResultContentsInfo">
        select
        contents.*,
        metas.mid,
        metas.name mname,
        users.uid,
        users.name uname
        from
        contents,metas,relationships,users
        where
        contents.cid = relationships.cid and relationships.mid = metas.mid
        and contents.`type` = 'post'
        and contents.authorId =users.uid
        and metas.type = 'category'
    </select>
    <!--查询页面信息-->
    <select id="selectPage" resultMap="ResultContentsInfo">
        select
        contents.*,
        metas.mid,
        metas.name mname,
        users.uid,
        users.name uname
        from
        (contents
        left join (
        relationships
        left join metas on relationships.mid = metas.mid
        ) on contents.cid = relationships.cid ),users
        where
        contents.`type` = 'page'
        and contents.authorId    =users.uid
    </select>
    <!--通过ID查询文章-->
    <select id="selectPostByPrimaryKey" resultMap="ResultContentsInfo" parameterType="java.lang.Integer">
        SELECT
        contents.cid,
        contents.title,
        contents.slug,
        contents.created,
        contents.modified,
        contents.text,
        metas.`name` as mname,
        metas.mid,
        metas.type as mtype
        FROM
        contents,
        metas,
        relationships
        where contents.cid=relationships.cid and relationships.mid= metas.mid
        and contents.type='post'
        and contents.cid=#{cid,jdbcType=INTEGER}
    </select>
    <!--通过ID查询页面-->
    <select id="selectPageByPrimaryKey" resultMap="ResultContentsInfo" parameterType="java.lang.Integer">
        SELECT
        * from contents
        where contents.cid=#{cid,jdbcType=INTEGER}
    </select>
    <!--通过ID删除文章-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contents
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
    <!--新增文章全部字段-->
    <insert id="insert" parameterType="org.herba.model.entity.Contents">
    insert into contents (cid, title, slug, 
      created, modified, order, 
      authorId, template, type, 
      status, password, commentsNum, 
      allowComment, allowPing, allowFeed, 
      parent, viewsNum, views, 
      text)
    values (#{cid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, 
      #{created,jdbcType=INTEGER}, #{modified,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, 
      #{authorId,jdbcType=INTEGER}, #{template,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{commentsNum,jdbcType=INTEGER}, 
      #{allowComment,jdbcType=CHAR}, #{allowPing,jdbcType=CHAR}, #{allowFeed,jdbcType=CHAR}, 
      #{parent,jdbcType=INTEGER}, #{viewsNum,jdbcType=INTEGER}, #{views,jdbcType=INTEGER}, 
      #{text,jdbcType=LONGVARCHAR})
  </insert>
    <!--新增文章部分字段-->
    <insert id="insertSelective" parameterType="org.herba.model.entity.Contents">
        insert into contents
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                cid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="slug != null">
                slug,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="order != null">
                order,
            </if>
            <if test="authorId != null">
                authorId,
            </if>
            <if test="template != null">
                template,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="commentsNum != null">
                commentsNum,
            </if>
            <if test="allowComment != null">
                allowComment,
            </if>
            <if test="allowPing != null">
                allowPing,
            </if>
            <if test="allowFeed != null">
                allowFeed,
            </if>
            <if test="parent != null">
                parent,
            </if>
            <if test="viewsNum != null">
                viewsNum,
            </if>
            <if test="views != null">
                views,
            </if>
            <if test="text != null">
                text,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                #{slug,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=INTEGER},
            </if>
            <if test="order != null">
                #{order,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=INTEGER},
            </if>
            <if test="template != null">
                #{template,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="commentsNum != null">
                #{commentsNum,jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                #{allowComment,jdbcType=CHAR},
            </if>
            <if test="allowPing != null">
                #{allowPing,jdbcType=CHAR},
            </if>
            <if test="allowFeed != null">
                #{allowFeed,jdbcType=CHAR},
            </if>
            <if test="parent != null">
                #{parent,jdbcType=INTEGER},
            </if>
            <if test="viewsNum != null">
                #{viewsNum,jdbcType=INTEGER},
            </if>
            <if test="views != null">
                #{views,jdbcType=INTEGER},
            </if>
            <if test="text != null">
                #{text,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <!--根据ID更新文章部分字段-->
    <update id="updateByPrimaryKeySelective" parameterType="org.herba.model.entity.Contents">
        update contents
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=INTEGER},
            </if>
            <if test="order != null">
                order = #{order,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                authorId = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="template != null">
                template = #{template,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="commentsNum != null">
                commentsNum = #{commentsNum,jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                allowComment = #{allowComment,jdbcType=CHAR},
            </if>
            <if test="allowPing != null">
                allowPing = #{allowPing,jdbcType=CHAR},
            </if>
            <if test="allowFeed != null">
                allowFeed = #{allowFeed,jdbcType=CHAR},
            </if>
            <if test="parent != null">
                parent = #{parent,jdbcType=INTEGER},
            </if>
            <if test="viewsNum != null">
                viewsNum = #{viewsNum,jdbcType=INTEGER},
            </if>
            <if test="views != null">
                views = #{views,jdbcType=INTEGER},
            </if>
            <if test="text != null">
                text = #{text,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where cid = #{cid,jdbcType=INTEGER}
    </update>
    <!--根据ID更新文章全部字段-->
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.herba.model.entity.Contents">
    update contents
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      modified = #{modified,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      authorId = #{authorId,jdbcType=INTEGER},
      template = #{template,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      commentsNum = #{commentsNum,jdbcType=INTEGER},
      allowComment = #{allowComment,jdbcType=CHAR},
      allowPing = #{allowPing,jdbcType=CHAR},
      allowFeed = #{allowFeed,jdbcType=CHAR},
      parent = #{parent,jdbcType=INTEGER},
      viewsNum = #{viewsNum,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
      text = #{text,jdbcType=LONGVARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
    <!--根据ID更新除内容以外的其他字段-->
    <update id="updateByPrimaryKey" parameterType="org.herba.model.entity.Contents">
    update contents
    set title = #{title,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      modified = #{modified,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      authorId = #{authorId,jdbcType=INTEGER},
      template = #{template,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      commentsNum = #{commentsNum,jdbcType=INTEGER},
      allowComment = #{allowComment,jdbcType=CHAR},
      allowPing = #{allowPing,jdbcType=CHAR},
      allowFeed = #{allowFeed,jdbcType=CHAR},
      parent = #{parent,jdbcType=INTEGER},
      viewsNum = #{viewsNum,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>