<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herba.model.mapper.OptionsMapper">
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from options
        where name = #{name}
    </delete>
    <insert id="insert" parameterType="com.herba.model.entity.Options">
        insert into options (name, user, value)
        values (#{name,jdbcType=VARCHAR}, #{user,jdbcType=INTEGER},#{value,jdbcType=VARCHAR})
    </insert>
    <select id="selectAll" resultType="com.herba.model.entity.Options">
        select name,user,value from options
    </select>
</mapper>