<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.herba.model.mapper.RelationshipsMapper">
    <resultMap id="BaseResultMap" type="com.herba.model.entity.Relationships">
        <id column="cid" property="cid" jdbcType="INTEGER"/>
        <id column="mid" property="mid" jdbcType="INTEGER"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="com.herba.model.entity.Relationships">
    delete from relationships
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteTagMultiple" parameterType="java.util.ArrayList">
        delete from relationships
        where mid not in (select mid from metas where metas.type='category')
        <if test="list != null">
        and mid not in
        </if>
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.mid}
        </foreach>
        <if test="list != null">
            and cid  in
        </if>
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.cid}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.herba.model.entity.Relationships">
    insert into relationships (cid, mid)
    values (#{cid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER})
  </insert>
    <insert id="insertMultiple" parameterType="java.util.ArrayList">
        insert into relationships (cid, mid)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cid,jdbcType=INTEGER}, #{item.mid,jdbcType=INTEGER})
        </foreach>
    </insert>
    <update id="updateCategoryByPrimaryKey" parameterType="com.herba.model.entity.Relationships">
        update relationships
        set mid = #{mid,jdbcType=INTEGER}
        where cid = #{cid,jdbcType=INTEGER} and mid not in (select mid from metas where metas.type = "tag")
    </update>
</mapper>